* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #575757;
  --secondary-color: #007bff;
  --tertiary-color: #f8f9fa;
  --background-color: black;
  --border-radius: 0.3rem;
}

body {
  background-image: url(../assets/nature.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Nav Start */

nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  position: relative;
  color: var(--secondary-color);
}
nav ul li a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: white;
  transition: 0.5s ease;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: white;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--secondary-color);
  caret-color: var(--secondary-color);
  &::placeholder {
    color: #ccc;
  }
  &:focus {
    outline-offset: -1px;
    outline: 2px solid var(--secondary-color);
  }
}
.search-button {
  border: 0px solid;
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: var(--secondary-color);
  &:hover {
    background-color: white;
    color: var(--secondary-color);
  }
}

/* Nav End */

.container {
  width: 100%;
  height: 100%;
  margin: 80px 0px 40px 40px;
}

.loading {
  display: grid;
  place-items: center;
  img {
    width: 100px;
    aspect-ratio: 1/1;
    animation: loader 1s infinite;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.not-found {
  display: none;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--secondary-color);
}

.search-container {
  margin-bottom: 20px;
}

.data-container {
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: white;
}

.pokemon-list {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  gap: 20px;
}

.data-item {
  padding: 20px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  &::first-letter {
    text-transform: uppercase;
  }
}

.data-item:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.details {
  display: grid;
  grid-template-columns: 500px 1fr;
  ::first-letter {
    text-transform: uppercase;
  }
}

.details-image {
  display: grid;
  place-items: center;
  border-right: 1px solid grey;
  img {
    width: 250px;
    aspect-ratio: 1;
    filter: drop-shadow(5px 5px 10px gray);
  }
}

.details-first {
  background-color: red;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 50px;
      aspect-ratio: 1;
    }
    p {
      font-size: larger;
    }
  }
}

.details-secound {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details-secound-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 10px;
  border-right: 1px solid var(--primary-color);
  .secound {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      text-decoration: none;
      color: white;
      padding: 8px 16px;
      border-radius: 20px;
      background-color: #007bff;
    }
    a:hover {
      opacity: 0.9;
    }
  }
  .cry {
    flex-direction: column;
    align-items: normal;
    gap: 0px;
  }
  .w-h {
    padding: 15px;
    background-color: var(--tertiary-color);
    justify-content: space-around;
    align-items: stretch;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.details-secound-stats {
  padding: 20px;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      text-decoration: none;
      font-size: 15px;
      background-color: var(--tertiary-color);
      color: var(--background-color);
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
    a:hover {
      background-color: var(--secondary-color);
      color: white;
    }
  }
}

audio {
  width: 100%;
  &::-webkit-media-controls-panel {
    background-color: white;
    padding: 0px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin-left: 30px;
  }
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .details {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
  }
  .details-secound {
    grid-template-columns: 1fr;
  }
}
